In [20]:
import sklearn
import numpy as np
import cPickle as pkl

In [21]:
with open('dataframes/los.pkl','rb') as f:
    df = pkl.load(f)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1001 entries, 0 to 1000
Data columns (total 59 columns):
SL_NO                 1001 non-null int64
Hosp_No               1001 non-null int64
D O A                 1001 non-null object
Los                   1001 non-null int64
Sex                   1001 non-null int64
Age                   1001 non-null int64
SES                   999 non-null float64
Education             1001 non-null int64
profession            1001 non-null int64
Income                1001 non-null int64
Diet                  1001 non-null int64
family h/o            1000 non-null float64
Smoking               1001 non-null int64
Tobacco               1001 non-null int64
Alcohol               1001 non-null int64
Gutka                 999 non-null float64
WT                    992 non-null object
BMI                   1001 non-null float64
WC                    1001 non-null float64
HC                    1001 non-null float64
w/H ratio             1001 non-null float64
HTN                   1001 non-null int64
HTN DUR               1001 non-null float64
DM                    1001 non-null int64
DM DUR                1001 non-null float64
Dyslipidemia          1001 non-null int64
DYSP DUR              1001 non-null int64
pre-diet              1001 non-null int64
pre-Bpcheck up        1001 non-null int64
pre-BS check up       1001 non-null int64
Pre - Physical Ex     1001 non-null int64
Angina                1001 non-null int64
Angina Class          1000 non-null object
SBP                   1001 non-null int64
DBP                   1001 non-null int64
Gly.HB                1000 non-null float64
FBS                   1001 non-null float64
TC                    1001 non-null float64
LDL                   1001 non-null float64
HDL                   1001 non-null int64
TG                    1001 non-null int64
TC/HDLratio           1001 non-null float64
VLDL                  1001 non-null float64
Creat                 1001 non-null float64
Trop -T               997 non-null float64
NT-proBNP             989 non-null object
Diagnosis             1001 non-null object
ACS_Score             1001 non-null int64
EF                    999 non-null float64
vessel involved       1001 non-null object
vessel_score          999 non-null float64
FRS                   1001 non-null int64
CVD                   1001 non-null object
HA                    1001 non-null object
Mobility              998 non-null float64
Self-care             996 non-null float64
Usual activitis       998 non-null float64
Pain/Discomfort       998 non-null float64
Anxiety/Depression    998 non-null float64
dtypes: float64(24), int64(27), object(8)
memory usage: 469.2+ KB

# Need to convert all into floats...
Especially 'object' classes

In [45]:
df.dtypes[df.dtypes=='object']

D O A               object
WT                  object
Angina Class        object
NT-proBNP           object
Diagnosis           object
vessel involved     object
CVD                 object
HA                  object
dtype: object

In [46]:
df.describe()

,SL_NO,Hosp_No,Los,Sex,Age,SES,Education,profession,Income,Diet,...,Trop -T,ACS_Score,EF,vessel_score,FRS,Mobility,Self-care,Usual activitis,Pain/Discomfort,Anxiety/Depression
count,1001.000000,1001.000000,1001.000000,1001.000000,1001.000000,999.000000,1001.000000,1001.000000,1001.000000,1001.000000,...,997.000000,1001.000000,999.000000,999.000000,1001.000000,998.000000,996.000000,998.000000,998.000000,998.000000
mean,500.083916,2770879.077922,5.001998,1.762238,56.411588,1.440440,5.105894,4.638362,4.910090,1.744256,...,1.391000,1.164835,27.101101,1.700701,15.748252,1.245491,1.148594,1.208417,1.466934,1.770541
std,288.974997,227418.079144,2.351594,0.425926,7.743412,0.496689,1.690791,1.747308,1.746971,0.465327,...,12.421803,0.371217,28.848488,0.731149,4.461004,0.457693,0.380436,0.439578,0.582604,0.718333
min,1.000000,2173638.000000,2.000000,1.000000,28.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.001000,1.000000,1.000000,1.000000,2.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,250.000000,2742165.000000,4.000000,2.000000,52.000000,1.000000,4.000000,3.000000,4.000000,2.000000,...,0.015000,1.000000,3.000000,1.000000,13.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,500.000000,2798483.000000,4.000000,2.000000,58.000000,1.000000,6.000000,4.000000,5.000000,2.000000,...,0.108000,1.000000,4.000000,2.000000,16.000000,1.000000,1.000000,1.000000,1.000000,2.000000
75%,750.000000,2852688.000000,6.000000,2.000000,63.000000,2.000000,6.000000,6.000000,6.000000,2.000000,...,0.645000,1.000000,58.000000,2.000000,19.000000,1.000000,1.000000,1.000000,2.000000,2.000000
max,1000.000000,5035407.000000,30.000000,2.000000,110.000000,2.000000,10.000000,7.000000,8.000000,2.000000,...,312.000000,2.000000,85.000000,3.000000,30.000000,4.000000,5.000000,5.000000,5.000000,5.000000