In [1]:
import pandas as pd
import numpy as np

In [2]:
path='../preprocessed/amlodipine.csv'
df=pd.read_csv(path)

In [4]:
df.head(3)

,Groups,Gender,Age_yrs,Height_cm,Weight_Kgs,BMI,DM,Family_HisCAD,Hyperlipidaemia,Smoking status,...,Vasopressin,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45
0,1,1,57,158,66,26.44,0,0,0,0,...,3.571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,65,154,64,26.99,0,0,1,0,...,5.414,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1,54,150,58,25.78,0,0,0,1,...,0.793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

9 empty datasets

In [7]:
df = df.dropna(axis=1,how='all')

In [8]:
df.describe()

,Groups,Gender,Age_yrs,Height_cm,Weight_Kgs,BMI,DM,Family_HisCAD,Hyperlipidaemia,Smoking status,...,LVEF,IVC,Mobility,Self Care,Usual Activity,Pain and Discomfort,Anxiety and depression,VAS,Plasma renin,Vasopressin
count,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,...,140.000000,140.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000
mean,1.980583,0.553398,57.800971,157.873786,62.207767,24.876748,0.490291,0.286408,0.398058,0.266990,...,64.992857,15.100000,1.839806,1.888350,1.820388,1.771845,1.864078,67.626214,1.799932,4.636718
std,0.814270,0.498352,9.584754,10.053204,10.179345,2.770028,0.501124,0.453184,0.490690,0.443465,...,3.750293,1.353386,0.920534,0.978879,0.906223,0.856188,0.968263,12.777690,2.344366,8.976292
min,1.000000,0.000000,31.000000,131.000000,40.000000,13.840000,0.000000,0.000000,0.000000,0.000000,...,50.000000,12.000000,1.000000,1.000000,1.000000,1.000000,1.000000,24.000000,0.088000,0.019000
25%,1.000000,0.000000,52.000000,150.000000,56.000000,23.220000,0.000000,0.000000,0.000000,0.000000,...,63.000000,14.000000,1.000000,1.000000,1.000000,1.000000,1.000000,60.000000,0.378500,0.844750
50%,2.000000,1.000000,59.000000,156.000000,62.000000,24.650000,0.000000,0.000000,0.000000,0.000000,...,65.000000,15.000000,2.000000,2.000000,2.000000,2.000000,2.000000,70.000000,0.592000,1.557000
75%,3.000000,1.000000,66.000000,168.000000,67.750000,26.520000,1.000000,1.000000,1.000000,1.000000,...,67.000000,16.000000,2.000000,3.000000,2.000000,2.000000,2.000000,76.000000,2.718000,5.232250
max,3.000000,1.000000,70.000000,176.000000,86.000000,31.390000,1.000000,1.000000,1.000000,1.000000,...,76.000000,19.000000,4.000000,4.000000,4.000000,5.000000,5.000000,96.000000,11.530000,67.978000